.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navbar{
  height: 10%;
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomBody{
  height: 90%;
  width: 80%;
}