.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar{
  height: 10%;
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.bottomBody{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.button{
  background: none;
  border-radius: 0.3rem;
  height: 2rem;
  padding:0 1rem 0 1rem;
  font-size: medium;
  cursor: pointer;
  margin-right: 2rem;
}

.webButtons{
  display: flex;
  align-items: flex-end;
}
.screenButtons{
  display: flex;
  align-items: flex-end;
}